---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* custom variable */

$sugar: #DFD9D9;
$remeber: #D585A2;
$wine: #A1687B;
$seeme: #6B4763;
$black: #2E2132;

$body-bg: #fff;
$link-color: $wine;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-base: $font-family-serif;
$font-size-base: 16px;
$line-height-base: 1.8;

// navbar 
$navbar-border-radius: 0;
$navbar-height: 60px;

table.post-list {
  width: 100%;
}

// article 
article {
  border-top: dotted 1px #ddd;
  padding-top: 2em;
  padding-bottom: 1em;
}
article:first-child, article:last-child {
  border-top: none;
}


article header{
  span.post-meta {
    text-transform: uppercase;
  }
  h1.entry-title {
    font-size: 2.2em;
    line-height: 1.2em;
    margin: 0
  }
  margin-bottom: 1.5em;
}
article footer{
  border-top: dotted 1px #ddd;
  padding-top: 1em; 
}

footer[role=contentinfo] 
{
  span.credit a{
    color: #9e9e9e;
  }
  font-size: .8em;
  color: #888;
  padding-top: 3em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  padding-left: 55px;
  padding-right: 55px;
}

/* any style customization must be before the bootstrap import */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap"
