---
layout: default
full_posts: 3
---

{% for post in site.posts %}
<article class="post">
  {% if forloop.index < page.full_posts %}
  <header>
    <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
  </header>
  <div class="row">
    <div class="col-3">
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <div class="post-category mt-2">
        {% for category in post.categories %}
        <a rel="category tag" href="{{ site.baseurl }}/category/{{ category | slugify }}">
          {{ category }}</a>{% unless forloop.last %}{% endunless %}
        {% endfor %}
        {% if page.categories == empty %} Uncategorized {% endif %}
      </div>
    </div>
    <div class="col-9">
      {{ post.content }}
    </div>
  </div>
  {% else %}
  {% if forloop.index == page.full_posts %}
  <footer>
    <h6>Older Posts</h6>
    <table class='table post-list'>
      {% endif %}
      <tr>
        <th><a href='{{ post.url }}'>{{ post.title }}</a></th>
        <td>{{ post.date | date_to_string }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
  </footer>
</article>