<footer>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        Copyright © 2015 - Niklas Nilsson - <span class="credit">Hosted by <a href="http://www.github.com">GitHub</a>
          and
          powered by <a href="http://jekyllrb.com">Jekyll</a>.</span>
      </div>
    </div>
  </div>
</footer>